---
import TechItem from './TechItem.astro';
const tecnologias = [
    {
        img: "../../public/HTML5.svg",
        alt: "Logo de HTML 5",
    },{
        img: "../../public/CSS3.svg",
        alt: "Logo CSS 3",
    },{
        img:'../../public/JavaScript.svg',
        alt:'Javascript Icon',
    },{
        img:'../../public/Tailwindcss.svg',
        alt:'Tailwind Icon',
    },{
        img:'../../public/React.svg',
        alt:'React Icon',
    },{
        img:'../../public/Astro.svg',
        alt:'Astro Icon',
    },{
        img:'../../public/vite.png',
        alt:'Vite Icon',
    }
]
---

<section id="tecnologias" class="min-h-screen w-full lg:w-3/4 mx-auto flex flex-col place-content-center gap-4 lg:gap-10 px-4">
    <h2 class="text-4xl font-bold text-center">Tecnologías dominadas</h2>
    <section class="flex flex-row flex-wrap place-content-center gap-4">
        {
            tecnologias.map((item) =>
                <TechItem img={item.img} alt={item.alt} />
            )
        }
    </section>
</section>